@page "/Cliente/Cliente"
@using Aplicacion.DTOs.Cliente
@using Infraestructura.Models
@inherits MainBaseComponent
@layout MainLayout
@inject IJSRuntime JSRuntime

<MudExpansionPanels>

    <MudExpansionPanel>
        <MudCard>
            <EditForm OnValidSubmit="ClienteNuevo" Model="_ClienteNuevo">
                <DataAnnotationsValidator />
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" sm="6" md="6">
                            <MudTextField @bind-Value="_ClienteNuevo.Cliente" For="@(() => _ClienteNuevo.Cliente)" Label="Detalle Empresa" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="6">
                            <MudTextField @bind-Value="_ClienteNuevo.NitCarnet" For="@(() => _ClienteNuevo.NitCarnet)" Label="NIT Empresa" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="6">
                            <MudTextField @bind-Value="_ClienteNuevo.Cantidad" For="@(() => _ClienteNuevo.Cantidad)" Label="Número de Beneficiarios" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                        </MudItem>


                    </MudGrid>
                </MudCardContent>

                <MudCardActions>

                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success">Guardar</MudButton>
                </MudCardActions>

                @* </DataAnnotationsValidator>*@
            </EditForm>

        </MudCard>


        <MudCard>
            <MudTable Items="@cliente" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">


                <HeaderContent>
                    <MudTh><MudTableSortLabel SortBy="new Func<FcClienteDto, object>(x=>x.IdfcCliente)"> Nr°</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<FcClienteDto, object>(x=>x.Cliente)">Cliente</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<FcClienteDto, object>(x=>x.NitCarnet)">Número de NIT</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<FcClienteDto, object>(x=>x.Cantidad)">Número de Beneficiarios</MudTableSortLabel></MudTh>

                    <MudTh>OPCIONES</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd Style="width:40px">
                        <MudText Typo="Typo.caption">@context.IdfcCliente</MudText><br />
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@context.Cliente</MudText><br />
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@context.NitCarnet</MudText><br />
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@context.Cantidad</MudText><br />
                    </MudTd>


                    <MudTd>
                        <div class="d-flex">
                            <div class="m-auto">

                                <MudTooltip Text="Editar" Color="Color.Secondary" Placement="Placement.Top">
                                    <MudFab Color="Color.Secondary" Style="@($"background:{Colors.Cyan.Darken3};")" StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="@(() => ShowBtnEditSave(context.IdfcCliente))" /><MudText Typo="Typo.caption"></MudText>
                                </MudTooltip>
                                <MudTooltip Text="Pagar" Color="Color.Secondary" Placement="Placement.Top">
                                    <MudFab Color="Color.Secondary" Style="@($"background:{Colors.LightBlue.Accent4};")" StartIcon="@Icons.Material.Filled.Payment" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Payment" Size="Size.Small" OnClick="@(() => AbrirMetodoPago(context))" /><MudText Typo="Typo.caption"></MudText>
                                </MudTooltip>
                                <MudTooltip Text="Reporte Pagos" Color="Color.Secondary" Placement="Placement.Top">
                                    <MudFab Color="Color.Secondary" Style="@($"background:{Colors.Blue.Accent4};")" StartIcon="@Icons.Material.Filled.AutoStories" Variant="Variant.Filled" Icon="@Icons.Material.Filled.AutoStories" Size="Size.Small" OnClick="@(() => AbrirReportePago(context.IdfcCliente))" /><MudText Typo="Typo.caption"></MudText>
                                </MudTooltip>
                                <MudTooltip Text="Eliminar" Color="Color.Secondary" Placement="Placement.Top">
                                    <MudFab Color="Color.Secondary" Style="@($"background:{Colors.Red.Accent4};")" StartIcon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" OnClick="@(() => Eliminar(context.IdfcCliente))" /><MudText Typo="Typo.caption"></MudText>
                                </MudTooltip>
                            </div>
                        </div>

                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
                <ChildRowContent>
                    @if (context.VerDetalle)
                    {
                        <MudTr>
                            <td colspan="4" style="padding:1px; margin:1px">


                                <MudCard>
                                    <MudCardHeader Class="pt-2 pb-2" Style="background:#eaeaea">
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.caption"><strong>Id:@context.IdfcCliente</strong></MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent Class="pa-2">
                                        <MudGrid>
                                            <MudItem xs="12" sm="6" md="4">
                                                <MudTextField @bind-Value="context.Cliente" Label="Cliente" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                            </MudItem>
                                            <MudItem xs="12" sm="6" md="4">
                                                <MudTextField @bind-Value="context.NitCarnet" Label="Número de NIT" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                            </MudItem>
                                            <MudItem xs="12" sm="6" md="4">
                                                <MudTextField @bind-Value="context.Cantidad" Label="Número de Beneficiarios" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                            </MudItem>


                                        </MudGrid>
                                    </MudCardContent>
                                    <MudCardActions>
                                        <MudGrid>
                                            <MudItem Class="d-flex ml-auto">
                                                <div class="ml-2">
                                                    <MudButton Variant="Variant.Outlined" Color="Color.Success" OnClick="@(() =>ShowBtnEditSave(context))">Guardar</MudButton>
                                                    <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(() =>ShowBtnEditSaveCancel(context.IdfcCliente,context))">Cancelar</MudButton>
                                                </div>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardActions>
                                </MudCard>

                            </td>
                        </MudTr>
                    }
                </ChildRowContent>
            </MudTable>
        </MudCard>



    </MudExpansionPanel>

</MudExpansionPanels>