@page "/Cliente/Pago"
@using Aplicacion.DTOs.Cliente
@using Infraestructura.Models
@inherits MainBaseComponent
@layout MainLayout
@inject IJSRuntime JSRuntime

<div id="content">
    <MudDialog DisableSidePadding="true">
        <DialogContent>
            <MudContainer Style="max-height: 300px; overflow-y: scroll">
                <MudForm @ref="moudFormQrPay" Model="_qrClienteDto">
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12" sm="6" md="6">
                                <MudTextField @bind-Value="_fcClientePagoDto.Detalle" For="@(() => _qrClienteDto.QrGlosa)" Label="Detalle Empresa" Disabled="true" Variant="Variant.Outlined" Margin="Margin.Dense">@_fcClientePagoDto.Detalle</MudTextField>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="6">
                                <MudTextField @bind-Value="_fcClientePagoDto.Monto" For="@(() => _qrClienteDto.QrMonto)" Label="Monto a cancelar" Disabled="true" Variant="Variant.Outlined" Margin="Margin.Dense">@_fcClientePagoDto.Monto Bs</MudTextField>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="6">
                                <MudTextField @bind-Value="_fcClientePagoDto.Glosa" For="@(() => _qrClienteDto.QrGlosa)" Label="Detalle Glosa" Variant="Variant.Outlined" Margin="Margin.Dense">@_fcClientePagoDto.Glosa</MudTextField>
                            </MudItem>
                            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                            <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.QrCode2" @onclick="@(async ()=> await QrPayment())" Label="Pago mediante QR" one />
                            @if (!string.IsNullOrEmpty(QRCodeText))
                            {
                                <MudPaper MaxHeight="auto" Style="margin:auto">
                                    <div class="qr-container">
                                        <img width="400" height="400" src="@QRCodeText">
                                    </div>
                                </MudPaper>
                            }
                        </MudGrid>
                    </MudCardContent>
                </MudForm>
            </MudContainer>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel" Color="Color.Info">Cancel</MudButton>
        </DialogActions>
    </MudDialog>
</div>