@page "/Cliente/PagoReporte"
@using Aplicacion.DTOs.Cliente
@using Infraestructura.Models
@inherits MainBaseComponent
@layout MainLayout
@inject IJSRuntime JSRuntime



<div id="content">
    <MudDialog DisableSidePadding="true">
        <DialogActions>
            <MudButton OnClick="Cancel" Color="Color.Info">Cancel</MudButton>
        </DialogActions>
        <DialogContent>
            <MudContainer Style="max-height: 500px; max-width: 500px; overflow-y: scroll" Fixed="true">      
                <MudTable Items="@fcClientePagos" FixedHeader="true" FixedFooter="true" Height="@(true || true ?"400px":"")">
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<FcClientePagoDto, object>(x=>x.IdfcCliente)"> Nr Cliente </MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<FcClientePagoDto, object>(x=>x.IdQrCliente)"> Nr QR </MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<FcClientePagoDto, object>(x=>x.IdQrGenerado)">Id QR Generado</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<FcClientePagoDto, object>(x=>x.QrGlosa)">Glosa</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<FcClientePagoDto, object>(x=>x.QrMonto)">Monto Cancelado</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<FcClientePagoDto, object>(x=>x.QrEstado)">Estado de Pago</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<FcClientePagoDto, object>(x=>x.QrFechaPago)">Fecha de Pago</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<FcClientePagoDto, object>(x=>x.QrExpiracion)">Fecha de Expiración QR</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<FcClientePagoDto, object>(x=>x.QrMensaje)">Mensaje Servicio</MudTableSortLabel></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd Style="width:10px">
                            <MudText Typo="Typo.caption">@context.IdfcCliente</MudText><br />
                        </MudTd>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.IdQrCliente</MudText><br />
                        </MudTd>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.IdQrGenerado</MudText><br />
                        </MudTd>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.QrGlosa</MudText><br />
                        </MudTd>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.QrMonto</MudText><br />
                        </MudTd>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.QrEstado</MudText><br />
                        </MudTd>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.QrFechaPago</MudText><br />
                        </MudTd>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.QrExpiracion</MudText><br />
                        </MudTd>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.QrMensaje</MudText><br />
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </MudContainer>
        </DialogContent>
        
        

    </MudDialog>
</div>

